* {
  margin: 0;
}

body {
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}

/*---------------UPPER PAGE GENERAL------------*/
.page-banner {
  height: 600px;
  background-image: url(./Images/banner\ 07.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
  font-family: "Courgette", cursive;
}

.message {
  width: 550px;
  /* font-family: "Courgette", cursive; */
  margin: 5% auto 2%;
}

.message h1 {
  font-size: 3.5em;
  font-weight: 200;
}

.message h3 {
  font-size: 1.5em;
  font-weight: 200;
}

.click-tiles {
  display: none;
  font-size: 1.2rem;
  padding-top: 45px;
  position: relative;
}

@media only screen and (max-width: 1325px) {
  .click-tiles {
    display: inline-block;
  }
}

.photo img {
  height: auto;
  width: 150px;
  border: solid white 4px;
  border-radius: 15px 50px;
}

@media only screen and (max-width: 725px) {
  .message {
    width: 75%;
  }
}

@media only screen and (max-width: 485px) {
  .message h1 {
    margin-top: 15px;
    font-size: 3em;
  }

  .message h3 {
    margin-top: 15px;
    font-size: 1em;
  }
}

/*---------------NAV-------------------*/

nav {
  height: 35px;
  background-color: rgb(5, 0, 78, 0.7);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav span {
  display: inline-block;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1em;
  color: whitesmoke;
  opacity: 0.7;
}

.nav-item-1 {
  margin: auto auto auto 10%;
}

.nav-item-2 {
  margin: auto 10% auto auto;
}

.nav-item-3 {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-item-2 {
    display: none;
  }

  .nav-item-3 {
    display: inline-block;
    margin: auto 10px auto auto;
  }
}

/*---------------INFO BOXES-------------------*/

.info-box-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.info-box-container a {
  text-decoration: none;
  color: inherit;
}

.info-box {
  width: 250px;
  height: 350px;
  position: relative;
  bottom: 30px;
  margin: auto 7.5px 15px 7.5px;
  border: solid 5px transparent;
  border-radius: 14px;
  background-color: rgb(127, 127, 127, 0.8);
  color: white;
  font-family: "Itim", cursive;
  box-shadow: 10px 10px 20px 6px rgba(0, 0, 0, 0.3);
}

.info-box h3 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  margin-top: 5px;
}

.info-box h4 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.17em;
  text-align: center;
  margin-top: 15px;
}

.info-box span {
  display: block;
  text-align: center;
  font-size: 2.5em;
  margin-top: 5px;
}

.info-box p {
  margin: 15px auto;
  text-align: center;
}

.transport p {
  width: 50%;
  font-size: 1.5em;
  margin-top: 20%;
}

.download-link:hover {
  color: pink;
}

/* .saturday img {
  width: 90%;
  margin: 10% 5% auto 5%;
} */

.floriade-logo {
  max-width: 60%;
  margin: 8% auto;
}

.free-time {
  margin: 20% 15%;
}

.hotel:hover,
.transport:hover,
.flights:hover {
  border: solid 5px whitesmoke;
}

/*---------------Footer-------------------*/

footer {
  height: 30px;
  background-color: #2d3246;
  margin: 0;
}

footer p {
  color: white;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
